/* Custom Fonts */
@font-face {
  font-family: "DM Mono";
  src: url("../fonts/DMMono-Medium.woff2") format("woff2"),
    url("../fonts/DMMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  src: url("../fonts/DMMono-Regular.woff2") format("woff2"),
    url("../fonts/DMMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet";
  src: url("../fonts/Trebuchet-Bold.woff2") format("woff2"),
    url("../fonts/Trebuchet-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet";
  src: url("../fonts/Trebuchet-Regular.woff2") format("woff2"),
    url("../fonts/Trebuchet-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Custom Fonts */

/* Tailwind CSS */
@import "tailwindcss";

@theme {
  --font-dmMono: "DM Mono", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-trebuchet: "Trebuchet", sans-serif;

  --breakpoint-2xl: 87.5rem;

  --color-custom-black: #000000;
  --color-custom-white-main: #ffffff;
  --color-custom-white: #f9f9f9;
  --color-custom-blue-dark: #142444;
  --color-custom-blue-light: #0c94d4;
  --color-custom-gray: #9c9990;
  --color-custom-gray-400: #808080;
  --color-custom-gray-dark: #2c2c2c;
  --color-custom-gray-light: #e3e3e3;
  --color-custom-gray-mid: #c2c2c2;
  --color-custom-red: #ec221f;

  --text-font-10: 10px;
  --text-font-10--line-height: 1.5;

  --text-font-12: 12px;
  --text-font-12--line-height: 1.5;

  --text-font-14: 14px;
  --text-font-14--line-height: 1.5;

  --text-font-16: 16px;
  --text-font-16--line-height: 1.5;

  --text-font-18: 18px;
  --text-font-18--line-height: 1.5;

  --text-font-20: 20px;
  --text-font-20--line-height: 1.2;

  --text-font-24: 24px;
  --text-font-24--line-height: 1.2;

  --text-font-30: 30px;
  --text-font-30--line-height: 1.2;

  --text-font-36: 36px;
  --text-font-36--line-height: 1.2;

  --text-font-40: 40px;
  --text-font-40--line-height: 1.2;

  --text-font-48: 48px;
  --text-font-48--line-height: 1.2;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-dmMono bg-custom-white text-custom-gray-dark font-normal text-font-16;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-trebuchet text-custom-blue-dark font-bold;
  }

  a {
    @apply inline-block align-middle font-trebuchet font-bold;
  }

  img {
    @apply w-full h-full object-contain;
  }

  button {
    @apply cursor-pointer;
  }

  input {
    @apply w-full;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-[1312px] mx-auto px-6 md:px-12 2xl:px-0;
  }

  .custom-btn {
    @apply font-trebuchet text-font-16 leading-none font-bold capitalize py-2 px-6 bg-custom-blue-light/30 text-custom-white w-fit h-12 flex items-center justify-center gap-2 rounded-md border border-custom-blue-light transition-all duration-200 ease-in-out hover:bg-custom-blue-light;
  }

  .custom-btn--outline {
    @apply bg-transparent border-custom-white hover:bg-custom-white/40 hover:border-custom-white;
  }

  .custom-btn--outline-black {
    @apply border-custom-blue-dark text-custom-blue-dark hover:bg-custom-blue-dark hover:text-custom-white;
  }

  .custom-btn--outline-white {
    @apply border-custom-gray bg-custom-white-main text-custom-blue-dark hover:bg-custom-blue-dark hover:text-custom-white;
  }

  .custom-btn--light {
    @apply text-custom-blue-dark hover:text-custom-white;
  }

  .custom-btn--lg {
    @apply px-3 h-10.5 text-font-18;
  }

  .custom-btn--md {
    @apply px-3 h-10;
  }

  .custom-btn--sm {
    @apply px-2 py-0.5 h-[29px] text-font-14 font-dmMono font-medium;
  }

  .nav__link {
    @apply text-custom-white hover:text-custom-blue-light transition-all duration-200 ease-in-out;
  }

  .navbar__toggler {
    @apply absolute top-4.5 md:top-[22px] right-0 w-[22px] h-[17px];
  }

  .toggle-bar {
    @apply mb-[4px] last-of-type:mb-0 block w-full h-[3px] bg-custom-white transition-all duration-200 ease-linear rounded-[1.5px];
  }

  .default-card {
    @apply bg-custom-white px-6 py-10 md:p-10 border border-custom-gray-light rounded-lg;
  }

  .footer-nav-link {
    @apply my-2 text-custom-white hover:underline text-font-18 font-bold font-trebuchet;
  }

  .footer-nav-link-text {
    @apply hover:no-underline;
  }

  .footer-nav-sub-link {
    @apply my-1 font-normal font-dmMono text-custom-white;
  }

  .label-block {
    @apply block;
  }

  .label-style {
    @apply block text-font-18 font-normal font-dmMono mb-2;
  }

  .input-style {
    @apply w-full h-10.5 rounded-lg bg-custom-white-main border border-custom-gray py-2 px-5 outline-none text-font-18 block;
  }

  .toggle-eye-btn--show::after {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[118%] h-[2px] bg-custom-gray-400 rotate-[30deg];
    content: "";
  }

  .input-style--textarea {
    @apply resize-none h-[126px];
  }

  .form-checkbox-label {
    @apply text-font-12 text-custom-gray-dark font-dmMono font-normal;
  }

  .form-checkbox-input {
    @apply hidden;
  }

  .form-checkbox-content {
    @apply flex items-center gap-2.5 cursor-pointer;
  }

  .form-checkbox-icon {
    @apply w-3 h-3 border-[1.5px] border-custom-gray-dark flex items-center justify-center rounded-[2px];
  }

  .form-checkbox-tick {
    @apply w-2.5 h-auto object-contain hidden;
  }

  .trusted-bg {
    @apply relative bg-cover bg-center bg-no-repeat;
    background-image: url("../images/trusted-banner.jpg");
  }

  .trusted-bg::after {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-custom-blue-dark/40 z-[1];
  }

  .logo-dark {
    @apply hidden;
  }

  .header--show {
    @apply h-screen bg-custom-white lg:h-auto lg:bg-transparent;
  }

  .header--show .logo-dark {
    @apply block lg:hidden;
  }

  .header--show .logo-light {
    @apply hidden lg:block;
  }

  .header--show .nav__link {
    @apply text-custom-blue-dark lg:text-custom-white;
  }

  .header--show .nav__link:hover {
    @apply text-custom-blue-light;
  }

  .header--show .custom-btn--nav {
    @apply text-custom-blue-dark lg:text-custom-white;
  }

  .header--show .custom-btn--nav:hover {
    @apply text-custom-white;
  }

  .header--show .nav-list {
    @apply !flex;
  }

  .header--show .toggle-bar {
    @apply bg-custom-blue-dark;
  }

  .header--dark .logo-dark {
    @apply block;
  }

  .header--dark .logo-light {
    @apply hidden;
  }

  .header--dark .nav__link {
    @apply text-custom-blue-dark;
  }

  .header--dark .nav__link:hover {
    @apply text-custom-blue-light;
  }

  .header--dark .custom-btn--nav {
    @apply text-custom-blue-dark;
  }

  .header--dark .custom-btn--nav:hover {
    @apply text-custom-white;
  }

  .header--dark .custom-btn--nav:hover .logo-dark {
    @apply hidden;
  }

  .header--dark .toggle-bar {
    @apply bg-custom-blue-dark;
  }

  .form-checkbox-input:checked
    + .form-checkbox-content
    .form-checkbox-icon
    img {
    @apply block;
  }

  .navbar__toggler.change .bar1 {
    @apply mb-0;
    transform: rotate(-40deg) translate(-3px, 3px);
    -webkit-transform: rotate(-40deg) translate(-3px, 3px);
    -moz-transform: rotate(-40deg) translate(-3px, 3px);
    -ms-transform: rotate(-40deg) translate(-3px, 3px);
    -o-transform: rotate(-40deg) translate(-3px, 3px);
  }

  .navbar__toggler.change .bar2 {
    @apply mb-0 opacity-0;
  }

  .navbar__toggler.change .bar3 {
    @apply mb-0;
    transform: rotate(40deg) translate(-1px, -1px);
    -webkit-transform: rotate(40deg) translate(-1px, -1px);
    -moz-transform: rotate(40deg) translate(-1px, -1px);
    -ms-transform: rotate(40deg) translate(-1px, -1px);
    -o-transform: rotate(40deg) translate(-1px, -1px);
  }
}

/* Custom CSS */

.swiper-pagination {
  position: static;
  margin-top: 0;
  width: fit-content !important;
  display: flex;
  align-items: center;
  gap: 8px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 79px;
  height: 2px;
  background: #f9f9f9;
  opacity: 0.6;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-arrow {
  position: static;
  margin-top: auto;
  width: 48px;
  height: 48px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.6;
}

.header--dark .custom-btn--nav svg path {
  fill: #142444;
}

.header--dark .custom-btn--nav:hover svg path {
  fill: #f9f9f9;
}

.header--show .custom-btn--nav svg path {
  fill: #142444;
}

.header--show.header--dark .custom-btn--nav svg path {
  fill: #142444;
}

.header--show .custom-btn--nav:hover svg path {
  fill: #f9f9f9 tr;
}

.custom-btn--icon svg path {
  fill: #142444;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.custom-btn--icon:hover svg path {
  fill: #f9f9f9;
}

/* Custom CSS */

/* Responsive Code */
@media (min-width: 1024.98px) {
  .header--show .custom-btn--nav svg path {
    fill: #f9f9f9;
  }
}
/* Responsive Code */

.simple {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    #a6a6a6 25%,
    #a6a6a6 75%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    #a6a6a6 25%,
    #a6a6a6 75%,
    transparent
  );
}
